vop-framework-libraries/src/test/resources/test/xsd/testAbstractRemoteServiceCallMock.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        version="1.0"
        targetNamespace="http://com.wynd.vop.framework.client.ws.remote/data"
>

	<xs:element name="TestAbstractRemoteServiceCallMockRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="someKeyVariable" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="TestAbstractRemoteServiceCallMockResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="someData" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>